* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  text-align: center;

  position: absolute;

  overflow-x: hidden;

  font-size: 1.1em;

  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;

  font-family: Gothik, Route, Georgia, "Times New Roman", Times, serif;

  background-color: #FEF3D7;

  > div {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;

    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.5);

    padding: 20px;

    > div {
      display: table-cell;

      vertical-align: middle;
    }
  }
}

@link-color: #602020;

a {
  cursor: pointer;

  font-size: 0.9em;
  font-variant: small-caps;

  color: @link-color;

  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:after {
    content: url('/images/arrow_right.gif');

    position: relative;
    top: -1px;

    margin-left: 3px;
    margin-right: 2px;
  }
}

footer {
  padding-right: 30px;

  margin-bottom: -45px;

  width: 100%;
  text-align: right;
}

h3 {
  &:first-letter {
    color: @link-color;

    font-size: 150%;
  }
}

main {
  margin-left: 15px;
}

.welcome {
  display: inline-block;
}

.box-link {
  display: block;

  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;

  border-image: url('/images/button_bg.gif') 20 25 15 25 fill round;
  border-bottom-width: 15px;
  border-top-width: 20px;
  border-left-width: 25px;
  border-right-width: 25px;

  margin-bottom: 3px;
  margin-top: 2px;

  color: lighten(@link-color, 10%);
}

.box-left {
  width: 20%;

  border-image: url('/images/scape.png') 20 20 20 20 fill ;
  border-width: 20px;

  margin-bottom: 3px;
  margin-top: 2px;

  padding-left: 10px;
  padding-right: 10px;

  h2, h3 {
    margin-bottom: 0px;
  }

  ul {
    list-style-type: none;

    margin-top: 0px;

    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  li {
    text-align: left;

    > label {
      &:after {
        content: ':';
      }
    }

    > span {
      float: right;
    }
  }

}