[submodule "api/tornado_backbone"]
	path = api/tornado_backbone
	url = git@github.com:tornado-utils/tornado-backbone.git
[submodule "api/tornado_restless"]
	path = api/tornado_restless
	url = git@github.com:tornado-utils/tornado-restless.git
