<h3>Eigenschaften</h3>
<ul>
    <% _.each(character.get('attributes'), function (value, key) { %>
    <li data-href="attributes">
        <label><%= key %></label>
        <span><%= value || 0 %></span>
    </li>
    <% }); %>
</ul>