<h3>Eigenschaften</h3>
<ul>
    <% _.each(character.get('attributes'), function (value, key) { %>
    <% if (key in character.defaults.attributes) { %>
    <li data-href="attributes">
        <label title="<%= __(key) %>"><%= key %></label>
        <span>
            <a href=":decr(attributes.<%=key%>)"></a>
            <%= value || 0 %>
            <a href=":incr(attributes.<%=key%>)"></a>
        </span>
    </li>
    <% } %>
    <% }); %>
</ul>