<h3>Basiswerte</h3>
<ul>
    <% _.each(character.get('attributes'), function (value, key) { %>
    <% if (!(key in character.defaults.attributes) && !key.endsWith("max") && value) { %>
    <li>
        <label title="<%= __(key) %>"><%= key %></label>

        <% race = character.get('race'); attributes = race && race.get('attributes') %>
        <% if (race && attributes && attributes[key]) { %>
        <i>Rasse: <%= race.get('attributes')[key] %></i>
        <% } %>

        <% culture = character.get('culture'); attributes = culture && culture.get('attributes') %>
        <% if (culture && attributes && attributes[key]) { %>
        <i>Kultur: <%= culture.get('attributes')[key] %></i>
        <% } %>

        <% profession = character.get('profession'); attributes = profession && profession.get('attributes') %>
        <% if (profession && attributes && attributes[key]) { %>
        <i>Profession: <%= profession.get('attributes')[key] %></i>
        <% } %>

        <% skills = character.get('skills'); %>
        <% if (skills && skills[key]) { %>
        <i>Vor/Nachteile: <%= skills[key] %></i>
        <% } %>

        <span><%= Math.round(value) %></span>
    </li>
    <% } %>
    <% }); %>
</ul>