<h3>Basiswerte</h3>

<% var c_race = character.get('race'); var race_attributes = c_race && c_race.get('attributes') %>
<% var c_culture = character.get('culture'); var culture_attributes = c_culture && c_culture.get('attributes') %>
<% var c_profession = character.get('profession'); var profession_attributes = c_profession && c_profession.get('attributes') %>
<% var c_skills = character.get('skills'); %>

<ul>
    <% _.each(character.get('attributes'), function (value, key) { %>
    <% if (!(key in character.defaults.attributes) && !key.startsWith("V_") && !key.endsWith("max") && value) { %>
    <li>
        <label title="<%= __(key) %>"><%= key %></label>

        <% if (c_race && race_attributes && race_attributes[key]) { %>
        <i>Rasse: <%= race_attributes[key] %></i>
        <% } %>

        <% if (c_culture && culture_attributes && culture_attributes[key]) { %>
        <i>Kultur: <%= culture_attributes[key] %></i>
        <% } %>

        <% if (c_profession && profession_attributes && profession_attributes[key]) { %>
        <i>Profession: <%= profession_attributes[key] %></i>
        <% } %>

        <% if (c_skills && c_skills[key]) { %>
        <i>Vor/Nachteile: <%= c_skills[key] %></i>
        <% } %>

        <span><%= Math.round(value) %></span>
    </li>
    <% } %>
    <% }); %>
</ul>