<h3>Basiswerte</h3>
<ul>
    <% _.each(character.get('attributes'), function (value, key) { %>
    <% if (!(key in character.defaults.attributes) && value) { %>
    <li>
        <label title="<%= __(key) %>"><%= key %></label>
        <span><%= value %></span>
    </li>
    <% } %>
    <% }); %>
</ul>