<% if (character.get('culture')) { // begin culture depended %>
<% var culture = character.get('culture'); %>

<h4>Charakter</h4>
<dl>
    <dt><label for="profile.select.character.social">Sozialstatus</label></dt>
    <dd>
        <select name="character.social" id="profile.select.character.social">
            <% if (culture.get('social').indexOf('Adel') >= 0) { %>
            <option value="Adel"
            <% if (character.get('social') == "Adel") { %>selected="selected"<% }%>>Adel</option>
            <% } %>
            <option value="Frei"
            <% if (character.get('social') == "Frei" || !character.get('social')) { %>selected="selected"<%
            }%>>Frei</option>
            <% if (culture.get('social').indexOf('Unfrei') >= 0) { %>
            <option value="Unfrei"
            <% if (character.get('social') == "Unfrei") { %>selected="selected"<% }%>>Unfrei</option>
            <% } %>
        </select>
    </dd>

    <dt><label for="profile.select.character.profile.speech">Muttersprache</label></dt>
    <dd>
        <select name="character.profile.speech" id="profile.select.character.profile.speech">
            <option value="" data-for="character.profile.speech"><%= character.get('profile')['social'] %></option>
            <option value="%?">Frei Wählen</option>
            <optgroup label=""></optgroup>
        </select>
    </dd>

    <dt><label for="profile.select.character.profile.packet">Kulturpacket</label></dt>
    <dd>
        <div>
            <% var c = 0; _.each(culture.get('ultra'), function (talent) { %><% if (talent[1] > 0) { %><% if (c++ > 0)
            {%>,<% }%>
            <%= talent[0] %> +<%= talent[1] %><% }}); %>
        </div>

        <button name="profile.select.character.profile.packet">erwerben (<%= character.get('CAP') %> AP)</button>
    </dd>

</dl>
<% } // end culture depended %>

<% if (character.get('profession')) { // begin profession depended %>
<% var profession = character.get('profession'); %>

<% if (character.hasFamiliar()) { %>
<h4>Vertrautentier</h4>
<dl>
    <dt><label for="profile.select.character.familiar">Rasse</label></dt>
    <dd>
        <select name="character.familiar" id="profile.select.character.familiar">
            <option value="" data-for="character.profile.familiar"><%= character.get('familiar') &&
                character.get('familiar').get('name') %>
            </option>
            <optgroup label=""></optgroup>
        </select>

        <br/>

        <ul>
            <% _.each(character.get('V'), function (value, key) { %>
            <% if (!key.startsWith("V_") && !key.endsWith("max")) { %>
            <li>
                <label title="<%= __(key) %>"><%= key %></label>
                <span><%= Math.round(value) %></span>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </dd>
</dl>
<% } %>

<% } // end profession depended %>