<% if (character.get('culture')) { // begin culture depended %>
<% var culture = character.get('culture'); %>

<h4>Charakter</h4>
<dl>
    <dt><label for="profile.select.character.social">Sozialstatus</label></dt>
    <dd>
        <select name="character.social" id="profile.select.character.social">
        </select>
    </dd>

    <dt><label for="profile.select.character.profile.speech">Muttersprache</label></dt>
    <dd>
        <select name="character.profile.speech" id="profile.select.character.profile.speech">
            <option value="" data-for="character.profile.speech"><%= character.get('profile')['social'] %></option>
            <option value="%?">Frei Wählen</option>
            <optgroup label=""></optgroup>
        </select>
    </dd>

    <dt><label for="profile.select.character.profile.knowledge">Kulturkunde</label></dt>
    <dd>
        <select name="character.profile.knowledge" id="profile.select.character.profile.knowledge">
            <option value="" data-for="character.profile.knowledge"><%= character.get('profile')['knowledge'] %>
            </option>
            <option value="%?">Frei Wählen</option>
            <optgroup label=""></optgroup>
        </select>
    </dd>
</dl>
<% } // end culture depended %>

<% if (character.get('profession')) { // begin profession depended %>
<% var profession = character.get('profession'); %>

<% if (character.hasFamiliar()) { %>
<h4>Rasse</h4>
<dl>
    <dt><label for="profile.select.character.familiar">Vertrautentier</label></dt>
    <dd>
        <select name="character.familiar" id="profile.select.character.familiar">
            <option value="" data-for="character.profile.familiar"><%= character.get('familiar') &&
                character.get('familiar').get('name') %>
            </option>
            <optgroup label=""></optgroup>
        </select>

        <br/>

        <ul>
            <% _.each(character.get('V'), function (value, key) { %>
            <% if (!key.startsWith("V_") && !key.endsWith("max")) { %>
            <li>
                <label title="<%= __(key) %>"><%= key %></label>
                <span><%= Math.round(value) %></span>
            </li>
            <% } %>
            <% }); %>
        </ul>
    </dd>
</dl>
<% } %>

<% } // end profession depended %>