<h3><%= __('Ausrüstung') %></h3>

<div class="adder">
    <input type="search" name="equipment-select"/>
    <select size="3" name="equipment-select">

    </select>
</div>

<h4><%= __('Inventar') %></h4>
<ul>

</ul>