<h3>Vertrautentier</h3>

<% var c_familiar = character.get('familiar'); familiar_attributes = c_familiar && c_familiar.get('attributes') %>
<% var c_skills = character.get('skills'); %>

<ul>
    <% v_attributes = character.get('V'); %>
    <% _.each(v_attributes, function (value, key) { %>
    <% if (key.startsWith("V_") && !key.endsWith("max")) { %>
    <li>
        <label title="<%= __(key.substring(2)) %>"><%= key.substring(2) %></label>

        <% if (c_familiar && familiar_attributes && familiar_attributes[key.substring(2)]) { %>
        <i>Rasse: <%= familiar_attributes[key.substring(2)] %></i>
        <% } %>

        <% if (c_skills && c_skills[key]) { %>
        <i>Bonus: <%= c_skills[key] %></i>
        <% } %>

        <% v_max = 18 + v_attributes[key + "_max"] %>
        <span data-min="0" data-max="<%= v_max || 18 %>">
            <a href=":decr(attributes.<%=key%>)"></a>
            <span data-for="attributes.<%=key%>"><%= Math.round(value || 0) %></span>
            <% if (v_max || key.substring(2) in character.defaults.attributes) { %>
            <span data-for="attributes.<%=key%>_max"><%= v_max || 18 %></span>
            <% } %>
            <a href=":incr(attributes.<%=key%>)"></a>
        </span>
    </li>
    <% } %>
    <% }); %>
</ul>