<h2>Impressum</h2>

<i>Angaben gemäß § 5 TMG: </i><br/>
<address>
    Severin Orth<br/>
    Annastr. 14<br/>
    39108 Magdeburg
</address>

<h2>Kontakt</h2>

<p>
    <a>severin.orth@dsa5gen.de</a>
    <br/>
    <a href="https://github.com/svrin/dsa5gen">https://github.com/svrin/dsa5gen</a>
</p>

<h2>Technologien</h2>

<p>
    jQuery, jQuery UI (<a href="http://opensource.org/licenses/MIT">MIT</a>) <br/>
    RequireJS (<a href="https://github.com/jrburke/requirejs/blob/master/LICENSE">BDS & MIT</a>) <br/>
    Backbone, Underscore (<a href="http://opensource.org/licenses/MIT">MIT</a>) <br/>
    NProgress (<a href="https://github.com/rstacruz/nprogress/blob/master/License.md">MIT</a>) <br/>
    <br/>
    CoffeeScript (<a href="http://opensource.org/licenses/MIT">MIT</a>) <br/>
    Buildify (<a href="https://github.com/powmedia/buildify/blob/master/LICENSE">BSD</a>) <br/>
</p>