<% if (self.model) { %>
<a href=":destroy" title="Character löschen"><img src="/images/glyphicons_user_remove.png"></a>
<a href=":save" title="Character im Webstore sichern"><img src="/images/glyphicons_disk_save.png"></a>
<a href=":export" title="Character exportieren"><img src="/images/glyphicons_disk_export.png"></a>
<% } else { %>
<a href=":create" title="Neuen Character erschaffen"><img src="/images/glyphicons_user_add.png"></a>
<a href=":import" title="Neuen Character importieren"><img src="/images/glyphicons_disk_import.png"></a>
<% } %>