<a href=":save" title="Character im Webstore sichern"><img src="/images/glyphicons_disk_save.png"></a>
<a href=":export" title="Character exportieren"><img src="/images/glyphicons_disk_export.png"></a>
<a href=":import" title="Character importieren"><img src="/images/glyphicons_disk_import.png"></a>