<h3><%= self.caption || __(self.name) %></h3>

<dl>
	<dt><label for="profile.input.character.name">Name</label></dt>
	<dd><input type="text" name="character.name" id="profile.input.character.name" value="<%= character.get('name') %>" /></dd>

    <dt><label for="character.gender"><%= __('Geschlecht') %></label></dt>
    <dd>
		<label><input type="radio" name="character.gender" value="m" /> männlich</label>
		<label><input type="radio" name="character.gender" value="w" /> weiblich</label>
		<label><input type="radio" name="character.gender" value="x" /> neutral/exotisch</label>
	</dd>

    <dt><label for="profile.input.character.profile.birthday"><%= __('Geburtstag') %></label></dt>
    <dd><input type="text" name="character.profile.birthday" id="profile.input.character.profile.birthday"
               value="<%= character.get('profile')['birthday'] %>"/></dd>

    <dt><label for="character.lifegrade"><%= __('Erfahrungsgrad') %></label></dt>
    <dd>
        <% self.lifegrades.each( function (lifegrade) { %>
        <label>
            <input type="radio" name="character.lifegrade" value="<%= lifegrade.id %>"/>
            <%= lifegrade.get('name') %>
        </label>
        <% }); %>
    </dd>
</dl>

<% if (character.get('race')) { // begin race depended %>
<dl>
<dt><label for="profile.select.character.profile.hair">Haarfarbe</label></dt>
	<dd>
		<select name="character.profile.hair" id="profile.select.character.profile.hair">
		    <option value="" data-for="character.profile.hair"><%= character.get('profile')['hair'] %></option>
			<option value="%!">Würfeln</option>
			<option value="%?">Frei Wählen</option>
			<optgroup label=""></optgroup>
		</select>
	</dd>
	
	<dt><label for="profile.select.character.profile.eye">Augenfarbe</label></dt>
	<dd>
		<select name="character.profile.eye" id="profile.select.character.profile.eye">
		    <option value="" data-for="character.profile.eye"><%= character.get('profile')['eye'] %></option>
			<option value="%!">Würfeln</option>
			<option value="%?">Frei Wählen</option>
			<optgroup label=""></optgroup>
		</select>
	</dd>
	
	<dt><label for="profile.input.character.profile.height">Größe</label></dt>
	<dd>
		<input type="number"
               id="profile.input.character.profile.height"
               name="character.profile.height" step="1" value="<%= character.get('profile')['height'] %>"/>
        Halbfinger
	</dd>
	
	<dt><label for="profile.input.character.profile.weight">Gewicht</label></dt>
	<dd>
		<input type="number"
               id="profile.input.character.profile.weight"
               name="character.profile.weight" step="1" value="<%= character.get('profile')['weight'] %>" />
        Stein
	</dd>
</dl>
<% } // end race depended %>




	
