<h2><%= character.get('name') %></h2>
<dl>
    <dd><%= character.get('profession') %></dd>
    <dd><%= character.get('culture') %></dd>
    <dd><%= character.get('race') %></dd>

    <dt>Generierungspunkte</dt>
    <dd><%= character.costs %></dd>
</dl>
