<h2><%= character.get('name') %></h2>
<ul>
    <% profession = character.get('profession'); %>
    <% culture = character.get('culture'); %>
    <% race = character.get('race'); %>

    <% if (culture && race) { %>
    <li data-href="profession">

        <% if (profession) { %>
        <%= profession.get('name') %>
        <% } else { %>
        <a href="#profession">Profession wählen</a>
        <% } %>
    </li>
    <% } if (race) { %>
    <li data-href="culture">
        <% if (culture) { %>
        <%= culture.get('name') %>
        <% } else { %>
        <a href="#culture">Kultur wählen</a>
        <% } %>
    </li>
    <% } %>
    <li data-href="race">
        <% if (race) { %>
        <%= race.get('name') %>
        <% } else { %>
        <a href="#race">Rasse wählen</a>
        <% } %>
    </li>

    <% _.each(character.costs, function (key, value) { %>
    <li>
        <label><%= __(key) %></label>
        <span><%= value || 0 %></span>
    </li>
    <% }); %>
</ul>
