<h2><%= __(name) %></h2>

<% collection.each(function(element) { %>
<label>
    <input type="radio" value="<%= element.id %>" name="<%= name %>"/>

    <span class="name"><%= element.get('name') %></span>
    <span class="costs"><%= element.get('costs') %></span>
</label>
<% }); %>