<h3><%= self.caption %></h3>

<% var gender = character.get('gender'); %>
<% var recommendations = character.get('recommendations') || {}; %>
<% var values = character.get(self.for) || {}; %>
<% var dialect = null; %>

<dl>
    <% groups = self.collection.groupBy(function (element) { return element.get('groups') && element.get('groups')[0]}); %>
    <% _.each(groups, function(collection, group) { %>

    <% if (collection.length > 0 && self.view.indexOf(group) >= 0) { %>
    <dd>
        <% if (collection.length > 1) { %>
        <h4><%= group %></h4>
        <% } %>
        <ul>
            <% _.each(collection, function(element, index) { %>
            <% var key = element.get('name'); %>
            <% var value = values[key] || element.get('min'); %>
            <li data-key="<%=self.for%>.<%=key%>" data-value="<%= value %>" data-count="<%= element.get('count') %>">
                <label class="<%= recommendations[key] || 'normal' %>">
                    <%= element.get('name_' + gender, character) || element.get('name', character) %>

                    <% var multiple = element.get('multiple') %>
                    <% if (multiple) { %>
                    <select data-href=":dialect(<%=self.for%>.<%=key%>)">
                        <option></option>
                        <% _.each(self.collection.filter(function (element) {
                        return element.in(multiple) }), function (skill) { %>
                        <% if( _.isArray(value) && value.indexOf(skill.get('name')) >= 0) { %>
                        <% dialect = skill %>
                        <option selected="selected" value="<%= skill.get('name') %>"><%= skill.get('name') %></option>
                        <% } else { %>
                        <option value="<%= skill.get('name') %>"><%= skill.get('name') %></option>
                        <% } %>
                        <% }); %>
                    </select>
                    <% } %>

                </label>

                <span data-min="<%= element.get('min') %>" data-max="<%= element.get('max') %>">
                    <a href=":decr(<%=self.for%>.<%=key%>)"></a>
                    <span data-for="<%=self.for%>.<%=key%>"><%= _.isArray(value) && value[0] || value %></span>
                    <a href=":incr(<%=self.for%>.<%=key%>)"></a>
                </span>

                <% if (element.get('dice') || element.get('dices')) { %>
                <span><%= element.get('dice') || element.get('dices').join("/") %></span>
                <% } else { %>
                <span></span>
                <% } %>

                <% if (element.get('BE') !== undefined) { %>
                <span><%= __(element.get('BE')) %></span>
                <% } %>
                <% if (element.get('SF') !== undefined) { %>
                <span><%= element.get('SF') %></span>
                <% } %>

                <% var element_costs = element.get('costs', [element, value, dialect]) %>
                <% if (element_costs !== undefined) { %>
                <span title="<%= __('AP') %>"><%= element_costs %> AP</span>
                <% } %>
                <% if (element.get('requirements') !== undefined) { %>
                <i><%= _.join(element.get('requirements'), value + 1, element) %></i>
                <% } %>
            </li>
            <% }); %>
        </ul>
    </dd>
    <% } %>

    <% }); %>
</dl>