<section class="box-right">
    <h3>dsa5gen.de</h3>

    <h2>Herzlich Willkommen!</h2>
    dsa5gen.de bietet eine Webapplikation zum Erstellen und Verwalten von Helden
    für das Rollenspielsystem DSA ("Das Schwarze Auge") 5.

    <br/><br/>

    Zur Zeit ist noch nicht alles aus dem Beta-Regelwerk übernommen,
    aber einen ersten Helden solltet ihr bereits erschaffen können :)
    Wenn ihr Fehler findet bitte meldet sie doch auf <a href="https://github.com/svrin/dsa5gen/issues">Github</a>.
    Dort liegt auch das ganze Projekt für Interessierte.

    <br/><br/>

    Um einen neuen Helden zu erschaffen nutze den Erschaffen Button <a href=":create"
                                                                       title="Neuen Character erschaffen"><img
        src="/images/glyphicons_user_add.png"></a> im linken Menu.
    Die erschaffenen Helden werden dabei im Webstorage deines Browser gespeichert, wenn du auf Speichern <img
        src="/images/glyphicons_disk_save.png"> klickst.
    Du kannst die Helden auch exportieren <a href=":export" title="Character exportieren"><img
        src="/images/glyphicons_disk_export.png"></a>, um sie zum Beispiel
    in einem anderen Browser oder auf deinem Tablet wieder importieren zu können. Eine automatische Syncronisation
    zwischen mehren Endgeräten ist in Arbeit.
</section>