<% gender = character.get('gender'); %>
<% name = (gender == 'x' || !gender) ? 'name' : 'name_' + gender; %>

<section class="span6 print-box">
    <h1><%= character.get('name') %></h1>

    <h3 data-for="profession"><%= character.get('profession').get(name) || character.get('profession').get("name")
        %></h3>
    <label class="subline" for="profession">Profession</label>

    <h3 data-for="culture"><%= character.get('culture').get(name) || character.get('culture').get("name") %></h3>
    <label class="subline" for="culture">Kultur</label>

    <h3 data-for="race"><%= character.get('race').get(name) || character.get('race').get("name") %></h3>
    <label class="subline" for="race">Rasse</label>
</section>

<section class="span6 print-box">
    <div id="logo">
        <img src="/images/dsa5.png"/>

        <h2 class="subcaption">Heldendokument</h2>
    </div>

    <label for="character.profile.hair">Haarfarbe</label>
    <span data-for="character.profile.hair"><%= character.get('profile')['hair'] %></span>

    <label for="character.profile.eye">Augenfarbe</label>
    <span data-for="character.profile.eye"><%= character.get('profile')['eye'] %></span>

    <label for="character.profile.height">Größe</label>
    <span data-for="character.profile.height"><%= character.get('profile')['height'] %></span>

    <label for="character.profile.weight">Gewicht</label>
    <span data-for="character.profile.weight"><%= character.get('profile')['weight'] %></span>

    <label for="character.lifegrade">Erfahrungsgrad</label>
    <span data-for="character.lifegrade"><%= character.get('lifegrade').get(name) || character.get('lifegrade').get("name") %></span>

    <label for="character.social">Sozialstatus</label>
    <span data-for="character.social"><%= character.get('social') %></span>
</section>

<section class="span6 print-box">
    <h2>Eigenschaften</h2>

    <% _.each(character.get('attributes'), function (value, key) { %>
    <% if (key in character.defaults.attributes) { %>
    <b><%= key %></b>
    <label class="subdesc" for="attributes"><%= __(key) %></label>
    <span data-for="attributes.<%= key %>"><%= value %></span>
    <span data-for="attributes.<%= key %>.max"><%= character.get('attributes')[key + "_max"] %></span>
    <br/>
    <% } %>
    <% }); %>
</section>

<section class="span6 print-box">
    <h2>Vorteile & Nachteile</h2>

    <% _.each(character.get('skills'), function (value, key) { %>
    <% if (value && value > 1) { %>
    <h3 data-for="skills.<%= key %>"><%= key %>: <%= value %></h3>
    <% } else if (value && value == 1) { %>
    <h3 data-for="skills.<%= key %>"><%= key %></h3>
    <% } %>
    <% }); %>
</section>

<table class="span12 print-box">
    <caption>Abgeleitete Werte</caption>
    <thead>
    <tr>
        <th width="11%">&nbsp;</th>
        <th width="13%">Grundwert</th>
        <th width="13%">Bonus</th>
        <th width="13%">Gekauft</th>
        <th width="30%">Aktuell</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(['GS', 'MR', 'INI', 'LE', 'AE', 'KE', 'EDG'], function (key) { %>
    <tr data-key="<%= key %>" data-value="<%= character.get('attributes')[key] %>">
        <td>
            <b><%= key %></b>
            <label class="subdesc"><%= __(key) %></label>
        </td>
        <td data-for="attributes.<%= key %>.base">
            <%= (character.get('race').get('attributes')[key] || 0) %>
        </td>
        <td data-for="attributes.<%= key %>.bonus">
            <%= (character.get('attributes')[key] || 0) - (character.get('race').get('attributes')[key] || 0) -
            (character.attributes['attributes'][key] || 0) %>
        </td>
        <td data-for="attributes.<%= key %>">
            <%= character.attributes['attributes'][key] || 0 %>
        </td>
        <td data-for="attributes.<%= key %>.current">
            <%= character.get('attributes')[key] %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>






